.search-bar {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}

.search-bar-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-bar-input {
    padding: 10px;
    border-radius: 5px;
    max-width: 50%;
}